<!DOCTYPE html>
<html>
<head>
    <title>DiagramGPT - edit</title>
</head>
<body>
    <h1>Diagram GPT - edit</h1>
    <h3>data: {{data}}</h3>

    <script>
        var data = {{data}};

        
    </script>
</body>
</html>
